{:paths ["src"]
 :aliases
 {:test    {:extra-paths ["test"]
            :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.829"}}}
  :build {:deps {io.github.clojure/tools.build {:tag "v0.6.2"
                                                :sha "7ef409b370312c8819c587aa648177331602fa44"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}
